body {
	background-color: lavender;
}

h1 {
	color: darkgreen;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: seagreen;
	text-decoration: underline;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bolder;

}

img {
	float: left;
}

.btn {
	border-radius: 300px;
	border-color: green;
	cursor: pointer;
}

.btn:hover {
	transform: scale(1.1);
}